/* CSS declarations go here */

.navbar .navbar-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
* {
    -ms-scroll-chaining: none;
}


.checked {
  text-decoration: line-through;
}

.togglePrivate {
  background-color: rgba(160, 175, 194, 0.2);
  font-style: italic;
}

.githubIcon {
  width: 29px;
  height: 29px;
  background-image: url("../img/githubIcon.png");
  border-radius: 6px;
}

.meteorIcon {
  width: 29px;
  height: 29px;
  background-image: url("../img/meteorIcon.png");
  border-radius: 6px;
}

.reactIcon {
  width: 29px;
  height: 29px;
  background-image: url("../img/reactIcon.png");
  border-radius: 6px;
}

.webpackIcon {
  width: 29px;
  height: 29px;
  background-image: url("../img/webpackIcon.png");
  border-radius: 6px;
}
.reactiveStackIcon {
  width: 29px;
  height: 29px;
  background-image: url("../img/reactiveStackIcon.png");
  border-radius: 6px;
}
.editIcon {
  width: 29px;
  height: 29px;
  border-radius: 6px;
}
